.container {
  max-width: 800px;
  margin: 2rem auto;
  font-family: sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-block {
  /* background: #f8f8f8; */
  padding: 1rem;
  border-radius: 10px;
}

input {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.result {
  margin-top: 2rem;
  background-color: #eef0f1;
  padding: 1rem;
  border-radius: 10px;
}

.error {
  color: red;
  margin-top: 1rem;
  font-weight: bold;
}
